In [2]:
import netCDF4
import os
import pandas as pd
import matplotlib.pyplot as plt
import xarray as xr

In [3]:
# Define the directory containing the .nc files
directory = r"/Users/kat/Desktop/NSF_HDR_Hackathon/FILES/Copernicus_ENA_Satelite Maps_Training_Data/"

# Initialize a list to store datasets
datasets = []
for filename in os.listdir(directory):
    if filename.endswith(".nc"):
        file_path = os.path.join(directory, filename)

        # Open the dataset
        ds = xr.open_dataset(file_path)

        # Select only the 'sla' variable
        sla = ds["sla"]

        # Add the dataset to the list
        datasets.append(sla)

# Combine all datasets along the time dimension
combined_sla = xr.concat(datasets, dim="time")

# output_path = "combined_sla_data.nc"
# combined_sla.to_dataframe(output_path)

In [4]:
ds_3 = combined_sla.to_dataset()
ds_3 = combined_sla.to_dataframe()
ds_final = ds_3.reset_index()

In [5]:
ds_final

                time  latitude  longitude     sla
0         2013-04-18    25.125    -99.875     NaN
1         2013-04-18    25.125    -99.625     NaN
2         2013-04-18    25.125    -99.375     NaN
3         2013-04-18    25.125    -99.125     NaN
4         2013-04-18    25.125    -98.875     NaN
...              ...       ...        ...     ...
116831995 2012-11-24    49.875    -61.125  0.0982
116831996 2012-11-24    49.875    -60.875  0.0978
116831997 2012-11-24    49.875    -60.625  0.0905
116831998 2012-11-24    49.875    -60.375  0.0960
116831999 2012-11-24    49.875    -60.125  0.1120

[116832000 rows x 4 columns]